*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #054f5294;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.ulForSideComponents {
    float: left;
    list-style-type: none;
    position: fixed;
    left: 9%;
    top: 25%;
    transform: translateX(-50%);
    align-content: center;
}

.ulForSideComponents div li {
    display: block;
    align-items: center;
    
}

.ulForSideComponents div li a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px 35px;
    border: 1px solid white;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer; 
}

.ulForSideComponents div li a:hover {
    background-color: white;
    color: black;

    transform: scale(1.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.ulForSideComponents div li.active a{
    background-color: white;
    color: black;
}

.title{
    position: fixed;
    margin-top: 0%;
    margin-left: 19%;
    z-index: 5;
    top: 16%;
    left: 4%;
}

.title h1 {
    color: white;
    font-size: 26px;
    position: fixed;
}

#userReservationOverview {
    margin-left: 6%;
}


.verticalLine {
    position: fixed;
    border-left: 4px solid black;
    height: 60%;
    margin-left: 17%;
    border-radius: 25%;
    margin-top: -1%;
}


.wrapper:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.wrapper, .wrapper-form {
    z-index: -100;
    height: 420px;
    width: 854px;
    margin: 50px auto;
    margin-left: 21%;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    
    transition: 2.3 ease;
    cursor: pointer;
}


.product-img {
    float: left;
    height: 420px;
    width: 327px;
}

.product-img img {
    border-radius: 7px 0 0 7px;
}

.product-info, .data-for-apartment {
    float: left;
    height: 420px;
    width: 527px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.data-for-apartment {
    width: 854px;
}

.product-text, .text-for-adding-apartment {
    height: 300px;
    width: 527px;
}

.text-for-adding-apartment  {
    width: 454px;
    text-align: center;
    margin-left: 190px;
}

.product-text h1, .text-for-adding-apartment h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.text-for-adding-apartment h1 {
    margin: 0 0 47px 8px; 
}

label,
.product-text h1,
.text-for-adding-apartment h1,
.product-price-btn p, .rasing-price-btn p, .falling-price-btn p, .type-filter-btn p, .content-filter-btn p, .add-btn p, .cancel-btn p {
    font-family: 'Bentham', serif;
}

label {
    font-size: 18px;
    font-weight: 400;
}

.review-btn p, .search-btn p, .search-btn-user-reservation p, .rasing-price-btn p, .falling-price-btn p {
    font-family: 'Bentham', serif;
}

.product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.review-btn, .search-btn, .search-btn-user-reservation, .rasing-price-btn p {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.search-btn {
    margin-left: -75px;
    margin-top: 40px;
}

.search-btn-user-reservation  {
    margin-left: -75px;
    margin-top: -5px;
}

.rasing-price-btn {
    margin-right: 100px;
    margin-top: 15px;
}

.falling-price-btn {
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.review-btn p, .search-btn p, .search-btn-user-reservation  p, .rasing-price-btn p, .falling-price-btn p {
    display: inline-block;
    position: absolute;
    top: 7px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 110px;
    font-size: 28px;
    font-weight: lighter;
    color: #054f5294;
}

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}


.review-btn button, .search-btn button, .search-btn-user-reservation button, .rasing-price-btn button, .falling-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 10px 5px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color:#79b0a1;
    cursor: pointer;
    outline: none;
}

.review-btn button:hover, .search-btn button:hover, .search-btn-user-reservation button:hover, .rasing-price-btn button:hover, .falling-price-btn button:hover{
    background-color: #054f5294;
}

.listOfApartments {
    margin-top: 220px;
}

.boundaryForScroll {
    position: fixed;
    width: 100%;
    height: 185px;
    padding: 20px;
    margin-top: -220px;
    background-color: #6d989a ;
    z-index: 4;  
}

.wrapper-form {
    z-index: -100;
    height: 420px;
    width: 854px;
    margin: 50px auto;
    margin-left: 21%;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    
    transition: 2.3 ease;
    cursor: pointer;
}

.wrapper-form {
    height: 2200px;
}


.data-for-apartment {
    height: 2200px;
    width: 854px;
    border-radius: 0 7px 10px 7px;
    background-color: #afd0c7;
}

/* Deo za pretragu i sortiranje */

.sortAndFilter, .sortAndFilterForUserOverview, .sortAndFilterForUserReservation {
    position: fixed;
    width: 400px;
    height: 650px;
    padding: 20px;
    margin-top: 0%;
    margin-left: 73%;
    background-color: #afd0c7;
    z-index: 4;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

    transition: 0.5 ease;
    cursor: pointer;
}

.sortAndFilterForUserOverview {
    height: 550px;
}

.sortAndFilterForUserReservation {
    height: 650px; 
}

.sortAndFilter:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.price-title h1, .filter-title h1, .search-title h1 {
    font-size: 30px;
    color: #474747;
    text-align: center
}

.price-title h1 {
    margin-top: -25px;
}

label,
.product-text h1,
.text-for-adding-apartment h1,
.product-price-btn p, .rasing-price-btn p, .falling-price-btn p, .type-filter-btn p, .content-filter-btn p {
    font-family: 'Bentham', serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-family: 'Bentham', serif;
}

input[type="text"]::placeholder {  
    text-align: center; 
} 

select {
    text-align-last: center;
}

option { 
    direction: ltr;
}

#formForSearch {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#formForFilter {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#formForSort {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#labelForUsername {
    position: relative;
    margin-left: 90px;
}

/* ------------------------------- */


#nameOfApartment {
    margin-left: 340px;
}

#labelForRole {
    margin-left: 120px;
}

#labelForGender {
    margin-left: 130px;
}

.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    margin-left: -40px;
    transition: 0.5 ease;
    cursor: pointer;
    position: fixed;
  }
  
.previous:hover {
    background-color: #f1f1f1;
    color: black;

    transform: scale(1.06);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
  

/* TABELA */

.table-wrapper{
    margin-left: 400px;
    width: 900px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #204264c0;
    font-size: 16px;
}

.fl-table thead th {
    color: #ffffff;
    background: #204264c0;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: rgb(230, 227, 227);
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}



/* -------------- */

