*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100%;   
}

.bodyForBackground {
    background: #054f5294;
    height: 100%;
    background-size: cover;
    background-position: center;
}

div.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(../pictures/2.jpg);
    height: 1080px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
    
    
}

ul {
    z-index: 5;
    float: right;
    list-style-type: none;
    margin-top: 25px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

ul li {
    display: inline-block;
    align-items: center;
    padding: 5px 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px 35px;
    border: 1px solid white;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer;
}

ul li a:hover {
    background-color: white;
    color: black;

    transform: scale(1.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

ul li.active a{
    background-color: white;
    color: black;
}

/* Bocni meni */

.ulForSideComponents, .ulForSideComponentsHostReservation {
    float: left;
    list-style-type: none;
    position: fixed;
    left: 7%;
    top: 25%;
    transform: translateX(-50%);
    align-content: center;
}

.ulForSideComponentsHostReservation {
    margin-left: 1.5%;
}

.ulForSideComponents div li, .ulForSideComponentsHostReservation div li {
    display: block;
    align-items: center;
    
}

.ulForSideComponents div li a, .ulForSideComponentsHostReservation div li a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px 35px;
    border: 1px solid white;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer; 
}

.ulForSideComponents div li a:hover, .ulForSideComponentsHostReservation div li a:hover{
    background-color: white;
    color: black;

    transform: scale(1.6);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.ulForSideComponents div li.active a, .ulForSideComponentsHostReservation div li.active a{
    background-color: white;
    color: black;
}

/* --------------- */

.main {
    max-width: 1200px;
    margin: auto;
    position: fixed;
    z-index: 5;
}

.title, .titleForActiveApartments, .titleForUserReservationSelectedA, .titleForReservation, .titleForUserOverviewForSelectedA, .titleForHostChangeActiveApartments, .titleForHostManageComments, .titleForMyProfil, .titleForHostBookedReservation, .titleForUserOverview  {
    position: fixed;
    margin-top: 0%;
    margin-left: 19%;
    z-index: 5;
}

.title h1, .titleForActiveApartments h1, .titleForReservation h1, .titleForUserReservationSelectedA h1, .titleForUserOverviewForSelectedA h1, .titleForHostChangeActiveApartments h1, .titleForHostManageComments h1, .titleForMyProfil h1, .titleForHostBookedReservation h1, .titleForUserOverview h1{
    color: white;
    font-size: 26px;
}

#titleInAdminChangeApartment {
    margin-left: 80px;
}

.titleForActiveApartments {
    margin-top: -3%;
    margin-left: 34%;
}

.titleForUserReservationSelectedA {
    margin-top: -3%;
    margin-left: 33%;
}

.titleForReservation {
    margin-top: -3%;
    margin-left: 29%;
}

.titleForUserOverviewForSelectedA {
    margin-top: -3%;
    margin-left: 33%;
}

.titleForHostChangeActiveApartments {
    margin-top: -3%;
    margin-left: 33%;
}

.titleForHostManageComments {
    margin-top: -3%;
    margin-left: 28%;
}

.titleForMyProfil {
    margin-top: -3%;
    margin-left: 39.5%;
}

.titleForHostBookedReservation {
    margin-top: -3%;
    margin-left: 34%;
}

.titleForUserOverview {
    margin-top: -3%;
    margin-left: 23%;
}

.logo img {
    float: left;
    width: 80px;
    height: 60px;
    position: relative;
    z-index: 5;
}

.logoAndNameForLogin {
    position: absolute;
    margin-left: 3.8%;
    margin-top: 1%;
}

.webName {
    position: relative; 
    z-index: 5; 
}

.webName h3 {
    color: black;
    font-size: 18px;
    margin-left: -10%; 
    z-index: 5;
}

.logoAndName {
    position: absolute;
    margin-left: 4%;
    margin-top: 1%;
    z-index: 5;
}

.quote {
    position: absolute;
    top: 87%;
    left: 15%;
    transform: translate(-50%, 0%); 
}

.quote h2 {
    color: white;
    font-size: 22px; 
}

.search {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.search h1 {
    padding: 15px;
    color: white;
    font-size: 22px; 
    text-align: center;
    font-size: xx-large;
}

.search-field {
    height: 20px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.date {
    width: 150px;
}

.location {
    width: 150px;
}

.price {
    width: 150px;
}

.rooms {
    width: 150px;
}

.persons {
    width: 150px;
}

.search-field:hover {
    background: lightgray;
    cursor: pointer;
}

.search-field:focus {
    background: lightgray;
    cursor: pointer;
}

.search-btn{
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: black;
    border-radius: 25px;
}

.search-btn:hover{
    background: #ffc107;
    cursor: pointer;
}

.form-box {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 25px;
    width: 1080px;
}

.dropbtn {
    background: whitesmoke;
    border: none;
    color: black;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
.dropdown {
    position: fixed;
    top: 2.5%;
    left: 90%;
    display: inline-block;
    z-index: 5;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -8px;
    border-radius: 25px;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 16px 12px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
   
  }
  
  .dropdown-content a:hover { 
    background-color: lightgray;
    color: black;
    border:1px solid black;
}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {
    background: lightgray;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    }

#menuIcon{
    width: 50px;
    height: 50px;
}

#userIcon{
    width: 50px;
    height: 46px;
    padding-right: 5px;
}

#onlyHomePage{
    margin-left: -5%;
}

.verticalLine, .verticalLineReservation {
    position: fixed;
    border-left: 4px solid black;
    height: 60%;
    margin-left: 15%;
    border-radius: 25%;
    margin-top: -1%;
}

.verticalLineReservation {
    margin-left: 17%;
}

/* sredi ispod */


.wrapper:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.wrapper, .wrapper-form, .wrapper-form-my-profil {
    z-index: -100;
    height: 420px;
    width: 854px;
    margin: 50px auto;
    margin-left: 21%;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    
    transition: 2.3 ease;
    cursor: pointer;
}

.wrapper-form {
    height: 2200px;
}

.wrapper-form-my-profil {
    height: 840px;
}

.product-img {
    float: left;
    height: 420px;
    width: 327px;
}

.product-img img {
    border-radius: 7px 0 0 7px;
}

.product-info, .data-for-apartment {
    float: left;
    height: 420px;
    width: 527px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.data-for-apartment {
    width: 854px;
}

.product-text, .text-for-adding-apartment {
    height: 300px;
    width: 527px;
}

.text-for-adding-apartment  {
    width: 454px;
    text-align: center;
    margin-left: 190px;
}

.product-text h1, .text-for-adding-apartment h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.text-for-adding-apartment h1 {
    margin: 0 0 47px 8px; 
}

label,
.product-text h1,
.text-for-adding-apartment h1,
.product-price-btn p, .rasing-price-btn p, .change-btn-in-admin-change-apartment p, .cancel-btn-in-admin-change-apartment p,  .search-btn-user-reservation p, .search-btn-user-overview p, .review-btn p, .falling-price-btn p, .type-filter-btn p, .content-filter-btn p, .add-btn p, .cancel-btn p, .sort-price-btn p, .filter-btn-active-apartment p, .change-btn p {
    font-family: 'Bentham', serif;
}

label {
    font-size: 18px;
    font-weight: 400;
}

.product-price-btn2 p {
    font-family: 'Bentham', serif;
}

.product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.product-price-btn, .rasing-price-btn, .change-btn-in-admin-change-apartment, .cancel-btn-in-admin-change-apartment,  .search-btn-user-reservation, .search-btn-user-overview, .review-btn, .falling-price-btn, .type-filter-btn, .content-filter-btn, .add-btn, .cancel-btn, .sort-price-btn, .filter-btn-active-apartment, .change-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.product-price-btn2 {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.product-price-btn p, .rasing-price-btn p, .change-btn-in-admin-change-apartment p, .cancel-btn-in-admin-change-apartment p,  .search-btn-user-reservation p, .search-btn-user-overview p, .review-btn p, .falling-price-btn p, .type-filter-btn p, .content-filter-btn p, .add-btn p, .cancel-btn p, .sort-price-btn p, .filter-btn-active-apartment p, .change-btn p  {
    display: inline-block;
    position: absolute;
    top: 7px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 110px;
    font-size: 28px;
    font-weight: lighter;
    color: #054f5294;;
}

.product-price-btn2 p {
    display: inline-block;
    position: absolute;
    top: 7px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 110px;
    font-size: 28px;
    font-weight: lighter;
    color: #054f5294;
}

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}

.product-price-btn button, .rasing-price-btn button, .change-btn-in-admin-change-apartment button, .cancel-btn-in-admin-change-apartment button, .search-btn-user-reservation button, .search-btn-user-overview button, .review-btn button, .falling-price-btn button, .type-filter-btn button, .content-filter-btn button, .add-btn button, .cancel-btn button, .sort-price-btn button, .filter-btn-active-apartment button, .change-btn button  {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 20px -125px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #79b0a1;
    cursor: pointer;
    outline: none;
}

.rasing-price-btn button {
    margin: 20px 35px 0 16px; 
    background-color: #054f5294;
}

.change-btn-in-admin-change-apartment button {
    margin: 40px 125px 0 16px; 
}

.cancel-btn-in-admin-change-apartment button {
    margin: -80px -85px 0 16px; 
}

.search-btn-user-reservation button {
    margin: -5px 85px 0 16px;
}

.search-btn-user-overview button {
    margin: 15px 85px 0 16px;
}

.filter-btn-active-apartment button {
    margin: -20px 85px 0 16px;
}

.sort-price-btn button {
    margin: 0px 85px 0 16px;  
}

.review-btn button {
     margin: 0px -15px 0 16px;  
}

.falling-price-btn button {
    margin: -20px 35px 0 16px;  
}

.type-filter-btn button {
    margin: 15px 35px 0 16px; 
}

.content-filter-btn button {
    margin: 0px 85px 0 16px; 
    background-color: white;
    color: black;
}

.add-btn button {
    margin: 20px 35px 0 16px; 
}

.change-btn button {
   margin-right: 10px;
}

.cancel-btn {
    margin: -20px 35px 0 -160px;  
}

.product-price-btn2 button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: -100px 95px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color:#79b0a1;
    cursor: pointer;
    outline: none;
}

.product-price-btn button:hover, .rasing-price-btn button:hover,  .change-btn-in-admin-change-apartment button:hover, .cancel-btn-in-admin-change-apartment button:hover, .search-btn-user-reservation button:hover,  .search-btn-user-overview button:hover, .review-btn button:hover, .falling-price-btn button:hover, .type-filter-btn button:hover, .add-btn button:hover, .cancel-btn button:hover, .sort-price-btn button:hover, .filter-btn-active-apartment button:hover, .change-btn button:hover{
    background-color: #054f5294;
}

.content-filter-btn button:hover {
    background-color: lightgrey;
}

.product-price-btn2 button:hover {
    background-color: #054f5294;
}

.listOfApartments {
    margin-top: 220px;
}

.boundaryForScroll {
    position: fixed;
    width: 100%;
    height: 185px;
    padding: 20px;
    margin-top: -220px;
    background-color: #6d989a ;
    z-index: 4;  
}

.sortAndFilter, .sortAndFilterForUserOverview,.confirm-cancel-field, .sortAndFilterForUserReservation {
    position: fixed;
    width: 400px;
    height: 650px;
    padding: 20px;
    margin-top: 0%;
    margin-left: 73%;
    background-color: #afd0c7;
    z-index: 4;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

    transition: 0.5 ease;
    cursor: pointer;
}

.sortAndFilterMyRes{
    position: fixed;
    width: 400px;
    height: 250px;
    padding: 20px;
    margin-top: 0%;
    margin-left: 73%;
    background-color: #afd0c7;
    z-index: 4;
    border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

    transition: 0.5 ease;
    cursor: pointer;
}

.sortAndFilterForUserOverview {
    height: 550px;
}

.sortAndFilterForUserReservation {
    height: 690px; 
}

.confirm-cancel-field {
    height: 400px;
}

.sortAndFilter:hover, .confirm-cancel-field:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.price-title h1, .filter-title h1, .search-title h1, .search-title2 h1, .price-title2 h1  {
    padding-top: 52px;
    font-size: 30px;
    color: #474747;
    text-align: center
}

.search-title2 h1 {
    padding-top: 10px;
}


.price-title h1 {
    margin-top: -25px;
}

.price-title2 h1 {
    padding-top: 0px;
}

#formForSearch {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#labelForUsername {
    position: relative;
    margin-left: 90px;
}

#labelForRole {
    margin-left: 120px;
}

#labelForGender {
    margin-left: 130px;
}

#formForSort {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.filter-title h1 {
    padding-top: 12px;
}

#formForFilter {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.data-for-apartment, .data-my-profil {
    height: 2200px;
    width: 854px;
    border-radius: 0 7px 10px 7px;
    background-color: #afd0c7;
}

.data-my-profil {
    height: 840px;
    width: 854px;
}

.filter-title input[type=text], .search-title2 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-family: 'Bentham', serif;
}

.filter-title input[type="text"]::placeholder,  .search-title2 input[type=text]::placeholder {  
    text-align: center; 
} 

.text-for-adding-apartment input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.text-for-adding-apartment input[type="text"]::placeholder {  
    text-align: center; 
} 
  
.text-for-adding-apartment input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.text-for-adding-apartment input[type="password"]::placeholder {  
    text-align: center; 
} 

.text-for-adding-apartment input[type=date]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.text-for-adding-apartment input[type=time]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}

.text-for-adding-apartment input[type=image]  {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    background-attachment: fixed;
    background: white;
}


select {
    text-align-last: center;
}

option { 
    direction: ltr;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #054f5294;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .text-checkbox {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Bentham', serif;
    text-align: left;
    padding-bottom: 20px;
  }

  .basic {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Bentham', serif;
    text-align: left;
    margin-left: -294px;
  }


/* TABELA ZA KOMENTARE*/

.table-wrapper-comments{
    margin-left: 400px;
    width: 900px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.serialNumber {
    width: 100px;
}

.previous, .previousInHostManageForSelectedApartments, .saveChange, .previousInReservation {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    margin-left: -230px;
    margin-top: -30px;
    transition: 0.5 ease;
    cursor: pointer;
    position: fixed;
  }

  .previousInHostManageForSelectedApartments {
    margin-left: -130px; 
  }
  
.previousInReservation {
	margin-left: -540px;
}  
  
.previous:hover, .previousInHostManageForSelectedApartments:hover, .saveChange:hover, .previousInReservation:hover {
    background-color: #f1f1f1;
    color: black;

    transform: scale(1.06);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.saveChange {
	margin-left: 580px;
}

#nameOfApartmentInComments {
    margin-left: 210px;
}

#nameOfApartment {
    margin-left: 140px;
}

#nameOfApartment2 {
    margin-left: -20px;
}

/* TABELA */
.tdbreak {
  word-break: break-all;
  max-width:300px;
}

.table-wrapper{
    margin-left: 400px;
    width: 900px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.table-wrapper-myRes{
    margin-left: 330px;
    width: 60%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.table-wrapper-reservations{
    margin-left: 150px;
    width: 60%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
	word-wrap: break-word;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #204264c0;
    font-size: 16px;
}

.fl-table thead th {
    color: #ffffff;
    background: #204264c0;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: rgb(230, 227, 227);
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before, .table-wrapper-comments:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

/* Komentari */

.notification-box {
    position: relative;
    z-index: 1;
    top: 30px;
    left: 450px;
    width: 50px;
    height: 50px;
    text-align: center;
  }
  .notification-bell {
    animation: bell 1s 1s both infinite;
  }
  .notification-bell * {
    display: block;
    margin: 0 auto;
    background-color: black;
    box-shadow: 0px 0px 15px #fff;
  }
  .bell-top {
    width: 6px;
    height: 6px;
    border-radius: 3px 3px 0 0;
  }
  .bell-middle {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    border-radius: 12.5px 12.5px 0 0;
  }
  .bell-bottom {
    position: relative;
    z-index: 0;
    width: 32px;
    height: 2px;
  }
  .bell-bottom::before,
  .bell-bottom::after {
    content: '';
    position: absolute;
    top: -4px;
  }
  .bell-bottom::before {
    left: 1px;
    border-bottom: 4px solid #fff;
    border-right: 0 solid transparent;
    border-left: 4px solid transparent;
  }
  .bell-bottom::after {
    right: 1px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 0 solid transparent;
  }
  .bell-rad {
    width: 8px;
    height: 4px;
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
    animation: rad 1s 2s both infinite;
  }
  .notification-count {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #ff4927;
    color: #fff;
    animation: zoom 3s 3s both infinite;
  }
  @keyframes bell {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(0); }
    80% { transform: rotate(0); }
    90% { transform: rotate(-30deg); }
    100% { transform: rotate(0); }
  }
  @keyframes rad {
    0% { transform: translateX(0); }
    10% { transform: translateX(6px); }
    20% { transform: translateX(0); }
    80% { transform: translateX(0); }
    90% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
  }
  @keyframes zoom {
    0% { opacity: 0; transform: scale(0); }
    10% { opacity: 1; transform: scale(1); }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
  }
  @keyframes moon-moving {
    0% {
      transform: translate(-200%, 600%);
    }
    100% {
      transform: translate(800%, -200%);
    }
  }


  /* LOGIN */

 .form-container h1, .overlay-container h1 {
    font-weight: bold;
    margin: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  #loginP {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  #loginA {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 15px 0;
  }

  #loginA:hover {
      color:black;
  }
  
  #signInButton, .ghost {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #afd0c7;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }

  #signInButton{
    margin-top: 17px;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  .formForLogin {
    background-color: #FFFFFF;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    display: flex;
    width: 50%;
    margin-left: 50%;
    margin-top: 20%;
    text-align: center;
  }

  .radio{
  position: relative;
  cursor: pointer;
  float: left;
  font-size: 20px;
  padding-left: 20px;
  margin-left: 10px;
  }

  .divv{
    display: inline-block;
    margin-left: -30px;
  }

  .formReg{
    background-color: #FFFFFF;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    display: flex;
    width: 50%;
    margin-left: 50%;
    margin-top: 20%;
    text-align: center;
  }
  
 .formForLogin input, .formReg input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 20px 0;
    width: 60%;
    font-size: 19px;

  } 

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%, 49.99% {
      opacity: 0;
      z-index: 1;
    }
    
    50%, 100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
  }
  
  .overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #afd0c7, #afd0c7);
    background: linear-gradient(to right, #afd0c7, #afd0c7);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: black;
    position: relative;
    left: -100%;
    height: 50%;
    margin-top: 20%;        
    width: 150%;
      transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .container.right-panel-active .overlay {
      transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 35%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  .social-container {
    margin: 20px 0;
  }
  
  .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  
  footer {
      background-color: #222;
      color: #fff;
      font-size: 14px;
      bottom: 0;
      position: fixed;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 999;
  }
  
  footer p {
      margin: 10px 0;
  }
  
  footer i {
      color: red;
  }
  
  footer a {
      color: #3c97bf;
      text-decoration: none;
  } 